[debug]
#0:EMERG,1:ALERT,2:CRIT,3:ERR,4:WARNING,5:NOTICE,6:INFO,7:DEBUG
level=7
#NULL:stderr
logfile=

[sip]
localip=192.168.210.2
localport=5064
proxy=sip:gehoo.cn
#pcscf/outboundproxy address
outboundproxy=sip:192.168.9.133:5060
from=sip:118@gehoo.cn
authusername=118
authpassword=118
expiry=3600
firewallip=
contact=

[rtsp]
localip=192.168.1.202
url=rtsp://192.168.1.232:554/h264/ch1/main/av_stream
username=admin
password=admin12345
#getparam timeout
session_timeout=90

[rtp]
#0:no rtpproxy
proxy=1
start_port=9000
end_port=9100
#0:no symmetricRTP
symmetric=1

